.content{
  background-image:url(/images/logo-pcap.png);
  background-position: right top;
  background-repeat: no-repeat;
}

.content h2, .content p, .content ul{
  max-width: 800px;
}


th.tableHead{
	background-color:#59A0D3;
	width:160px;
	vertical-align:text-top;
	color:black;
	border: 1px black solid;
}

td.tableRow{
	background-color:#F0F8FF;
	vertical-align:text-top;
	color:black;
	border: 1px black solid;
}

.pcap_map_box{
	border-style:solid;
	border-color:#0CF;
}

.ld-body h2{
	color:#C15200;
}


th.table1Head{
	width:160px;
	vertical-align:text-top;
	color:black;
	border: 1px black solid;
}

td.table1Row{
	vertical-align:text-top;
	color:black;
	border: 1px black solid;
}

td.table2Row{
	width: 350px;
	vertical-align:text-top;
	color:black;
	border: 1px black solid;
}