.pub-box {
	border: #CCC;
	border-style:outset;
	width: 100%;
	background: none repeat scroll 0 0 #F6F6F6;
	color: #666666;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}
.pub-box:hover {
	border-color: #265583;
	cursor: pointer;
	cursor: hand;
}
.pub-box:hover .box-header {
	background-color: #265583;
	color: white;
}
.box-header {
	font-family:Helvetica,Arial,Geneva,sans-serif;
	font-size: 18px;
	border-bottom: solid 1px #CCC;
	padding: 4px;
	color: #A66E26;
}
.box-content {
	padding: 4px 4px 0px 4px;
	background-image: url(/images/background-edge-fade.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
.box-label {
	display: inline-block;
	width: auto;
	font-weight: bold;
}
.label-journal {
	font-style: italic;
}
.box-footer {
	border-top: solid 2px #CCC;
	background-color: #FAFAFA;
	padding: 4px;
	text-align: right;
}
.button-link {
	display: inline-block;
	background-color: #F0F0F0;
}
.content-button {
	text-align: center;
}
.content-button div {
	display: inline-block;
	background: #F7F7F7;
	padding: 2px 4px;
	font-size: 12px;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
}
.content-button div:hover {
	background-color: #265583;
	color: white;
}
