/* styles controlling layout and printing of items go here */
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	overflow: auto;
}
table tr td {
	vertical-align: top;
	padding: 0px;
}
.tracking {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.tracking a, .tracking a:visited {
	text-decoration: none;
	color: #265583;
}
.tracking a:hover {
	text-decoration: underline;
	color: #265583;
}
.tracking #header {
	height: 32px;
	padding: 8px;
	border-bottom: 1px solid #D7D7D7;
	background: #F7F7F7;
	color: #265583;
	font-weight: bold;
	font-size: 24px;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}
.tracking #footer {
	height: 18px;
	padding: 2px;
	background-color: #103D66;
	color: #FFF;
	font-size: 12px;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}
.tracking #menu {
	width: 220px;
	padding: 8px 2px 2px 8px;
	background-image: url(/images/background-edge-vertical.png);
	background-repeat: repeat-y;
	background-position: top right;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	vertical-align: top;
	color: #444;
}
.tracking #menu h1 {
	width: 220px;
	color: #666;
	font-size: 16px;
	margin: 0px;
}
.tracking #menu ul {
	list-style: none outside none;
	margin: 0px 0px 16px 0px;
	padding: 0px 0px 0px 8px;
	color: #265583;
	font-size: 14px;
}
.tracking #menu li {
	position: relative;
	width: 210px;
	overflow: hidden;
	height: 17px;
}
.tracking #menu .count-r, .tracking #menu .count-o, .tracking #menu .count-b {
	width: 24px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 0px;
	font-size: 12px;
	display: inline-block;
	padding: 1px;
	zoom: 1;
 *display:inline;
}
.tracking #menu .count-r {
	background-color: #FF8083;
	right: 54px;
}
.tracking #menu .count-o {
	background-color: #FFC280;
	right: 27px;
}
.tracking #menu .count-b {
	background-color: #74A5D6;
	right: 0px;
}
.tracking #header div {
	height: 32px;
	vertical-align: middle;
	display: inline-block;
	zoom: 1;
 *display:inline;
}
.tracking #tracking-header-logo {
	background-image: url(/images/header-logo-unc-blue.png);
	width: 102px;
	margin: 0px 128px 0px 0px;
}
.tracking #tracking-caption {
	height: 30px;
	padding-top: 2px;
}
.tracking #tracking-caption-logo {
	width: 32px;
	background-image: url(/images/icon-small-tracking.png);
	margin: 0px 8px 0px 0px;
}
.tracking #tracking-login {
	font-size: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	float: right;
	font-weight: normal;
}
.tracking #splitter {
	height: 10px;
	/*	border-top: 1px solid #D7D7D7;	
	border-bottom: 1px solid #D7D7D7;*/
	text-align: center;
}
.tracking #splitter a {
	cursor: row-resize;
	pointer: row-resize;
}
.tracking #splitter:hover {
	background-color: #F7F7F7;
}
.tracking #tracking-splitter {
	width: 100%;
	height: 10px;
	background-image: url(/images/background-tracking-splitter.png);
	background-position: center;
	background-repeat: no-repeat;
}
.tracking #tabs {
	height: 40px;
	vertical-align: bottom;
}
.tracking #tab-list {
	background: url("/images/background-tracking-tab-gray.png") repeat-x scroll left bottom transparent;
	border-bottom: 9px solid #CFD8E0;
	margin: 0px;
	padding: 0px 0px 0px 8px;
	text-align: left;
	clear: both;
	list-style: none outside none;
}
.tracking #tab-list li {
	display: inline;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
	padding: 0px;
}
.tracking #tab-list li a {
	border: 0px none;
	display: inline-block;
	margin: 0px 0px 0px 4px;
	text-decoration: none;
	padding: 8px;
}
.tracking #tab-list li a span {
	margin-left: 4px;
	padding: 2px;
	font-size: 12px;
	color: #888;
}
.tracking #tab-list li.plain a {
	background-color: #CCCCCC !important;
	background-image: -moz-linear-gradient(center bottom, #CCCCCC 29%, #DBDBDB 58%, #DCD9D9 83%) !important;
	color: #666 !important;
}
.tracking #tab-list li.plain a:hover {
	background-color: #DDDDDD !important;
	background-image: -moz-linear-gradient(center bottom, #DDDDDD 29%, #E0E0E0 58%, #F0F0F0 83%) !important;
	color: #333333 !important;
}
.tracking #tab-list li.selected a {
	background-color: #CFD8E0 !important;
	background-image: -moz-linear-gradient(center bottom, #CFD8E0 29%, #DFE9F1 58%, #DFE9F1 83%) !important;
	color: #125687 !important;
}

.tracking div.inline-block {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: .9em;
	vertical-align:top;
	display:inline-block;
	/* Adjust for IE inline-block problems */
	zoom:1;
	*display:inline;
}

.button {
	margin-top: 0px;
}
.ld-body .table-default {
	margin-top: 0px;
	width: auto;
	min-width: 1400px;
}
.button_container {
	height: auto;
}
.tab_table {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
	width: 100%;
	border-collapse: collapse;
}
.tab_table td h4 {
	border-bottom: 1px solid #ccc;
}
.tab_table .user {
	padding: 12px 0px 1px 0px;
	border-bottom: 1px #265583 solid;
	border-left: none;
	border-right: none;
}
.tab_table td {
	border-top: 1px #f0f0f0 solid;
	padding: 2px 0px 0px 0px;
}
.tab_table td em {
	font-size: 12px;
}
.tab_table th {
	background-image: url("../images/table-header-background.png");
	font-weight: normal;
	color: #125687;
	text-align: left;
	padding: 2px;
	border: 1px solid #D7D7D7;
}
.tab_table th em {
	font-size: 12px;
	color: #888;
}
.tracking #buttons {
	padding: 2px;
	border-bottom: 1px solid #D7D7D7;
	height: 24px;
}
.tracking div.button_container#buttons {
	padding: 0px 0px 2px 0px;
	height: auto;
	border-bottom: none;
}
.tracking #adminbuttons {
	padding: 2px;
}
.tracking .action_button_container{
	margin: 0px;
}
.tracking #content-container {
	padding: 0px;
}
.tracking #details-container {
	padding: 0px;
	height: 250px;
}
.tracking #menu-content{
	position: absolute;
}
.tracking #content-scroll, .tracking #details-scroll {
	padding: 0px;
	position: absolute;
	display: none;
	overflow-y: scroll;
	overflow-x: auto;
	margin: 0px;
}
.tracking #content, .tracking #details-content {
	padding: 4px;
}
.formtable{
	width: 100%;
}
.formtable tr td:last-child{
	width: 99%;
}
#item-type {
	margin-left: 0px;
	margin-bottom: 24px;
	width: 100%;
	padding-bottom: 8px;
	border-bottom: 1px #A66E26 solid;
}
#item-type img {
	vertical-align: middle;
	margin-right: 12px;
	padding: 0px;
}
/* styles for item type custom HTML  */
.ld-body form.form-basic {
	background-color: transparent;
	border: none;
	padding: 0px;
	width: 100%;
}


.ld-body form.form-basic .track-layout{
/*	width: 100%;*/
	margin-bottom: 16px;
}

.ld-body form.form-basic .track-layout th{
	text-align:left;
	vertical-align: top;
	width: 1%;
	white-space:nowrap;
	}


.ld-body form.form-basic label, .ld-body form.form-basic {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size:14px;
	color:#333;
}

.ld-body form.form-basic table th label {
	white-space: normal;
	min-width: 150px;
}

.ld-body form.form-basic table label {
	white-space: normal;
}

.ld-body form.form-basic .note{
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	color: #888;
}

.cf-input-text, .cf-textarea, .cf-select {
	background-color: #FFF;
	border-color: #CCC;
	border-width: 1px;
	border-style:solid;
	padding: 2px;
	min-width: 100px;
	min-height: 18px;
	margin: 1px;
	display: inline-block;
}

.tracking .table-default tr:hover td {
	background-color:#FFC;
	cursor:pointer;
}

.tracking .table-default tr.selected td {
	background-color:#9CF;
}

.tracking .attachments {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
}

.tracking .attachments label {
	font-weight:bold;
	position:relative;
	top:2px;
}

.tracking .attachments tr td iframe {
	height:28px;
}

.tracking .header-banner {
	height: 28px;
	border-bottom: #265583 2px solid;
  padding-left: 4px;	
}

.tracking .header-logo-unc-lineberger {
	background-image: url(../images/header-logo-tracking-unc-lineberger.png);
	margin-top: 3px;
	width: 85px;
	height: 24px;
}

.tracking, .tracking .menu, .ld-body, #error-content {
	padding: 0px;
	margin: 0px;
}
.ld-body .exception h1 {
	margin-top: 2px;
}
.tracking .menu {
	padding: 2px 0px 2px 2px;
	display: table-cell;
}
.tracking .ld-body {
	margin: 0px 8px;
	width: 100%;
}
.tracking .menu {
	width: 269px;
}
.tracking .menu .loading {
	width: 268px;
	height: 51px;
	border-top: 1px #D7D7D7 solid;
	color: #999;
	font-size: 10px;
}
.tracking .menu .loading img, .menupanel img {
	margin: 18px 4px 0px 20px;
	vertical-align:text-bottom;
}

.tracking .menu .header {
	width: 100%;
	height: 19px;
	padding: 4px;
}

.tracking .menu-group-label {
	margin: 0px;
	padding: 2px 0px;
}
.tracking a {
	text-decoration:none;
	color:#265583;
}

.tracking .header-login a {
  color: #FFFFFF;
}

.tracking .footer-software a {
  color: #666666;
}

.tracking a:hover {
	text-decoration:underline;
}
.tracking .menu-group-label a {
	float: left;
	margin: 0px;
	padding: 2px 0px 0px 0px;
}
.tracking .menu-group-label a #funded {
	font-weight:normal;
	font-size:11px;
	color: #AAA;
}
.tracking .menu-group-label ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.tracking .menu-group-label li span {
	width: 20px;
	display:inline-block;
	text-align:center;
	margin: 0px;
	padding: 2px;
}
.tracking .menu-group-label li {
	display: inline;
	float: right;
	color: #FFF;
	margin: 0px 0px 0px 1px;
	padding: 0px;
	font-size: 12px;
}
.tracking .menu-group-label #r {
	background-color: #FF1D25;
}
.tracking .menu-group-label #o {
	background-color: #FFA33E;
}
.tracking .menu-group-label #b {
	background-color: #265583;
}
.tracking .menu-graph {
	margin: 0px;
	margin-top: 8px;
}

.notification_frequency_form {
	margin:10px 10px 10px 10px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}







.trackingControls
{
	padding:5px;
	border-top:2px solid #333;
	border-bottom:2px solid #333;
}
.trackingList
{
	white-space:nowrap;
	height:130px;
	padding:0px 0px;
	list-style-type:none;
	font-size:.8em;
}

.ranksetLabelTD
{
	width:60px;
	text-align:left;
	border-left:2px solid #333;
	border-right:2px solid #333;
}


.ranksetLabel
{
}


.trackingList .oBox
{
	position:relative;
	width:230px;
	height:120px;
	border:1px solid #333;	
	background-color:#eee;
	display:inline-block;
	margin: 5px;
	zoom:1;
	*display:inline;
}






.trackingTitleSpace
{
	font-size:1em;
	height:20px;
	font-weight:bold;
	border-bottom:1px solid #000;
	padding:1px;
}

.trackingTitleSpan
{
	float:left;
	width:50%;
	overflow:hidden;
}


.trackingContentSpace
{
	white-space:normal;
	font-size:1em;
	width:220px;
	height:65px;
	background-color:#fff;
	overflow:auto;
	padding:5px;
	float:left;
}


.trackingIconSpace
{
	height:20px;
	float:left;
	width:100%;
	border-top:1px solid #000;
}

.trackingIconSpace img
{
	float:left;
	height:20px;
	width:20px;
}


.trackingMovementSpace, div[class~="trackingMovementSpace"]
{
	white-space:normal;
	padding:2px;
	margin-left:65px;
	height:27px;
	border-left:1px solid #000;
	font-size:.8em;
	vertical-align:middle;
}

.trackingStatusSpace, div[class~="trackingStatusSpace"]
{
	white-space:normal;
	float:right;
	padding:2px 2px;
	margin-left:65px;
	text-align:right;
	height:17px;
	border-left:1px solid #000;
	font-size:.8em;
	vertical-align:middle;
}


.trackingMovementSpace img
{
	height:20px;
	width:20px;
	margin:2px 2px 2px 2px;
}
.GovernorFinished, div[class~="GovernorFinished"]
{
	background:#cfc;
}
.GovernorUnfinished, div[class~="GovernorUnfinished"]
{
	background:#fcc;
}
.NoGovernors, div[class~="NoGovernors"]
{
	background:#cfc;
}
.HasGovernors, div[class~="HasGovernors"]
{
	background:#ffc;
}

table.TrackingTable
{
	border-collapse:collapse;
}

table.TrackingTable tr td
{
	border-top:1px solid #000;
}

table.TrackingTable
{
	border-bottom:1px solid #000;
}

table.TrackingTable tr.odd td
{
	background-color:#eee;
}
.ld-body .form-basic div.wide-labels label{
white-space:nowrap
}

.ld-body h2 {
    color: #a66e26;
    font-family: Helvetica,Arial,Geneva,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0 4px;
    padding: 0;
	  background-color: #f0f0f0;
    border-radius: 4px;
    font-family: Georgia,"Times New Roman",Times,serif;
    padding: 4px 8px;
}
}

.ld-body .form-basic label {
    display: inline-block;
    padding-top: 2px;
    vertical-align: top;
}
