.content form.form-basic .track-layout {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.labels{
	vertical-align:top;
	text-align:left;	
	font-weight: normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	padding-top: 6px;
	padding-right: 8px;
}
.input-fields{
	vertical-align:top;
}
#content .track-layout .textarea-container textarea {
	border:1px grey;
	padding:0px;
	margin:0px;
	width: 75%;
	display:block;
}

#content .track-layout .textarea-container textarea {
	height:100px;
	width:100%;
}

#content .track-layout .textarea-container {
	border: 1px solid;
	width: 75%;
}

.content .form-basic label {
    display: inline-block;
    padding-top: 2px;
    vertical-align: top;
}