
.ld-body .form-basic td label{
	width: 150px;
	margin: 0px;
}


.ld-body .form-basic textarea{
	height: 100px;
	width: 300px;
/*	overflow-x: auto;
	overflow-y: scroll;*/
}

.ld-body .form-basic input[type="text"], .ld-body .form-basic table td input[type="text"] {
	width: 300px;
}

.dependentView{
	padding-left:50px;
	font-style:italic;
}

.paragraph
{
	text-align:justify;
	}
.ld-body .list
{
	text-align:justify;
	list-style-type:square;
	margin-left: 50px;
	}
.ld-body .form-basic label.check-box-label{
	width:auto;
}
.ld-body .headers
	{margin-left:0px;
	}
.ld-body .paragraph2
	{margin-left: 50px;
	}
.summary
	{margin-left:150px;
	}
	
.questionnaire-dets{
	margin-left:100px;
}
.ld-body .form-basic table tr th{
	margin: 0px;
	text-align:left;
}

.triage-header{
	font-size:18px;
	font-weight:bold;
}

.ld-body-headings{
	font-weight:bold;
	font-size:16px;
	text-align:left;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.labels{
	vertical-align:top;
	text-align:left;	
	font-weight: normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	padding-top: 6px;
	padding-right: 8px;
}
.labels label{
	min-width: 300px;
}
.ld-body h2{
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color: #F0F0F0;
	padding: 4px 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.ld-body form.form-basic .track-layout {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.ld-body form.form-basic table.track-layout th, .ld-body form.form-basic table.track-layout td {
	white-space:normal;
}

.description{
	vertical-align:top;
	color:#851418;
	font-size:13px;
	white-space:nowrap;
	padding-top: 6px;
	padding-left: 8px;
}

.ld-body form.form-basic table.track-layout td.description{
	vertical-align:top;
	color:#851418;
	font-size:12px;
	white-space:nowrap;
	padding-top: 6px;
	padding-left: 8px;
}

.note{
	color: #999;
	font-style:italic;
	font-size:11px;
}

.input-fields{
	vertical-align:top;
}
.ld-body .form-basic .warning{
	padding: 0px;
}

.nav-links {
	padding-left: 16px;
	display:inline-block;
	font-size: 12px;
	color:#666;
	font-weight:normal;
}

#content .track-layout .textarea-container textarea {
	border:1px grey;
	padding:0px;
	margin:0px;
	width: 75%;
	display:block;
}

#content .track-layout input[type="text"]{
	border:1px grey;
	padding:0px;
	margin:0px;
	width: 50%;
	display:block;
}

#content .track-layout input[type="text"]{
	border:1px solid grey;
	padding:0px;
	margin:0px;
	display:block;

}

#content .track-layout .textarea-container textarea {
	height:100px;
	width:75%;
}

#content .track-layout .textarea-container {
	border: 1px solid;
	width: 75%;
}
.ld-body h2 {
    color: #a66e26;
    font-family: Helvetica,Arial,Geneva,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0 4px;