/* CSS Document */
.ld-body {
	padding-left: 32px;
}

img#captcha{
	vertical-align:middle;
}

input#captchatoken {
}

.input#captchatoken {
	width: 85px;
	margin-left: 8px;
}

h2 {
	margin-left: 0px;
	margin-bottom: 24px;
	width: 100%;
	padding-bottom: 8px;
	border-bottom: 1px #A66E26 solid;
}

p.public-form-footer {
	margin-top: 24px;
	width: 100%;
	border-top: 1px #A66E26 solid;
}

 p.public-form-footer label{
	width: 150px;
}

.ld-body form.form-basic{
	width:80%;
}

.form-basic p.public-form-footer input[type="text"]{
	width: 200px;
}

.ld-body .form-basic table label {
  display: inline-block;
  padding-top: 0px;
  vertical-align: top;
	text-align:left;
	margin-bottom: 16px;
	
}
.ld-body .form-basic table th{
	padding: 0px 16px 0px 0px;
	color:#333;
}