/* CSS Document */

.button {
	margin-top: 16px;
	color: #265583;
}
.action_button_container {
	height: 28px;
	margin-bottom: 5px;
}
.button_container {
	height: 48px;
}
.button {
	display: inline-block;
	zoom: 1;
 *display:inline;
}
.button a {
	text-decoration: none;
	display: inline-block;
	border: none;
}
.button a:hover {
	text-decoration: none;
	color: #000000;
}
.button div {
	cursor: pointer;
	min-width: 11px;
	display: inline-block;
	height: 48px;
	background-repeat: no-repeat;
	vertical-align: top;
	zoom: 1;
 *display:inline;
}
div.button-left {
	background-image: url(../images/btn-left.png);
}
div.button-center {
	background-image: url(../images/btn-center.png);
	background-repeat: repeat-x;
	padding-right: 8px;
}
div.button-right {
	background-image: url(../images/btn-right.png);
}
div.button-text {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	line-height: 40px;
	font-size: 16px;
	padding-top: 4px;
	font-weight: bold;
	color: #265583;
}
div.button-text:hover {
	color: #000000;
}
div.button-image {
	vertical-align: center;
	margin-top: 8px;
	margin-right: 8px;
	width: 32px;
	height: 32px;
}
.button-action {
	padding: 0px;
	margin: 0px;
	color: #265583;
	white-space: nowrap;
	display: inline-block;
	zoom: 1;
 *display:inline;
}
div.button-action > a {
	text-decoration: none;
	white-space: nowrap;
}
div.button-action > a:hover {
	text-decoration: none;
	color: #000000;
}
.button-action div {
	cursor: pointer;
	min-width: 4px;
	display: inline-block;
	height: 28px;
	background-repeat: no-repeat;
	vertical-align: top;
	zoom: 1;
 *display:inline;
}
div.button-action {
	display: inline-block;
	zoom: 1;
 *display:inline;
}
div.button-action a {
	border: none;
	color: #265583;
}
div.button-action-left {
	background-image: url(../images/btn-small-left.png);
}
div.button-action-center {
	background-image: url(../images/btn-small-center.png);
	background-repeat: repeat-x;
}
div.button-action-right {
	background-image: url(../images/btn-small-right.png);
	margin-right: 4px;
}
div.button-action-text {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	line-height: 26px;
	font-size: 13px;
	padding-top: 1px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 6px;
}
div.button-action-image {
	vertical-align: center;
	margin: 6px 6px 4px 4px;
	width: 16px;
	height: 16px;
}

.ld-body .table-default td .button-link a {
	color: #ffffff;
}

.button-link a, .button-link a:link {
	background-color: #265583;
	border: 1px solid #265583;
	cursor: pointer;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	color: #ffffff;
}
.button-link a:hover {
	color: #ffffff;
}
