@charset "utf-8";
/* CSS UNC Lineberger Comprehensive Cancer Center Design, Created by CIPHR, Adrian Meyer */

body {
	color: #666666;
	font-family: "franklin-gothic-urw","Franklin Gothic Book","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 100%;
	font-weight: 400;
	margin: 0px;
}

.ld-header{
	margin: 0px;
  background: 
	  url("ld-header-shadow.png") repeat-x scroll left bottom, 
	  url("ld-header-background.jpg") no-repeat scroll left 30px #D3D3D3;
}

.ld-header a img, .ld-footer a img{
	border: none;	
}

.ld-header-banner {
	padding: 3px 5%;
  color: #CCCCCC;
	background-color: #484848;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#3B3B3B');
  background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#3B3B3B));
  background: -moz-linear-gradient(top, #565656, #3B3B3B);
	background-image: linear-gradient(to bottom, #565656, #3B3B3B);
  border: medium none;
	height: 24px;
	text-align: right;
	overflow:auto;
}

.ld-header-banner img{
	vertical-align: middle;
	float: left;
}

.ld-header-banner-menu {
  list-style: none outside none;	
	padding: 0px;
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
}
.ld-header-menu, .ld-header-navigation {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ld-header-banner-menu li {
	display: inline-block;
}

.ld-header-banner-menu li a{
	padding: 4px 0px 4px 8px;
	height: 22px;
  font-size: 12px;
	text-decoration: none;
	color: #CCCCCC;
	font-weight: normal;
}
.ld-header-banner-menu li a:hover{
	color: #FFFFFF;
}
.ld-header-banner-button{
	vertical-align: middle;
	display: inline-block;
	padding: 2px;
	margin: 0px;
}
.ld-header-logo {
	padding: 0px 5%;
}

.ld-header-brand {
  background-color: #5292BD;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59A0D3', endColorstr='#4A86AE');
  background: -webkit-gradient(linear, left top, left bottom, from(#59A0D3), to(#4A86AE));
  background: -moz-linear-gradient(top, #59A0D3, #4A86AE);
  background-image: linear-gradient(to bottom, #59A0D3, #4A86AE);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6), 0 10px 10px -10px rgba(0, 0, 0, 0.5) inset;
	color: #FFFFFF;
	display: inline-block;
	padding: 30px 30px 15px 20px;	
}

.ld-header-project {
	display: inline-block;
	float: right;
}

.ld-header-navigation{
	display: none;
  background-color: red;	
	text-align: center;
	margin: 0px 16px;
	padding: 6px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #F5F5F5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E6E6E6');
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
  background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;	
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0;
  color: #333333;
	font-weight: 500;
	font-size: 16px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	border-style: solid;
	border-width: 1px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: hand;
	cursor: pointer;
}

.ld-header-navigation:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#AAAAAA');
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#AAAAAA));
  background: -moz-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: linear-gradient(to bottom, #FFFFFF, #AAAAAA );
}

.ld-header-menu{
	margin-top: 14px;
	height: 38px;
	padding: 0px 8px;
  background-color: #5292BD;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59A0D3', endColorstr='#4A86AE');
  background: -webkit-gradient(linear, left top, left bottom, from(#59A0D3), to(#4A86AE));
  background: -moz-linear-gradient(top, #59A0D3, #4A86AE);
  background-image: linear-gradient(to bottom, #59A0D3, #4A86AE);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);	
  list-style: none outside none;	
	position:relative;
}

.ld-header-menu li{
	display: inline-block;
	float: left;
}

.ld-header-menu li a#current{
  background-color: #367AA2; 
}

.ld-header-menu li a{
	color: #FFFFFF;
	display: inline-block;
	font: 500 1.1em "franklin-gothic-urw-n5","franklin-gothic-urw","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	opacity: 0.8;
	padding: 8px 14px;
	text-decoration: none;
	height: 22px;
}

.ld-header-menu li a:hover{
  background-color: #367AA2;
	opacity: 1.0;
}

.ld-header-submenu {
	background-color: #6CA2C6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72AFD9', endColorstr='#689ABC');
  background: -webkit-gradient(linear, left top, left bottom, from(#72AFD9), to(#689ABC));
  background: -moz-linear-gradient(top, #72AFD9, #689ABC);
	background-image: linear-gradient(to bottom, #72AFD9, #689ABC);
	min-width: 200px;
	padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);	
	display: block;
	position: absolute;
  top: 100%;
	z-index: 1500;
	height: 0px;
	overflow:hidden;	
}

.ld-header-submenu li {
	margin: 0px;
	display: block;
	float: none;
	margin-right: 0;
	position: relative;
}

.ld-header-submenu li a {
	width: auto;
  padding: 0.5em 1.5em 0.5em 1em;
	display: block;
}

.ld-footer{
	padding: 32px 5% 16px 5%;
	background-color: #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: -moz-linear-gradient(top, #666666, #333333);
	background-image: linear-gradient(to bottom, #666666, #333333);
	margin-top: 64px;
	min-height: 100px;
	display: block;
	font-size: 14px;
	color: #AAAAAA;
	text-align:right;
	white-space:nowrap;
}
.ld-footer a:focus{
	outline:none;
}
.ld-footer-cancer-hospital, .ld-footer-software, .ld-footer-nci-ccc, .ld-footer-brand {
	display: inline-block;
	vertical-align: top;
	padding-right: 30px;
}
.ld-footer-brand{
	white-space:normal;
	border-right: #FFF solid 1px;
	text-align:left;
	float: left;
	width: 15%;
}
.ld-footer-software{
	white-space:normal;
	padding-left: 16px;
	font-size:12px;
	float: left;
	width: 50%;
}
.ld-footer-software td{
	text-align: left;
	vertical-align:top;	
	padding: 0px;
}
.ld-footer-software strong{
	color: #FFF;
	letter-spacing: 1.5px;
	padding-right: 8px;
}
.ld-footer-software a{
	text-decoration: none;
	color: #AAAAAA;
	border-bottom: 1px dotted;
}
.ld-footer-software a:hover{
	color: #FFFFFF;
}
.ld-footer-copyright{
	white-space:normal;
	text-align:center;
	clear:both;
	padding-top: 32px;
}
.ld-body{
	margin: 3px 5%;
	padding: 16px 8px;	
	color: #666666;
	font-family: "franklin-gothic-urw","Franklin Gothic Book","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 22px;	
	font-weight: 400;
}
.ld-body h1, h2, h3, h4{
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Helvetica,Arial,sans-serif;	
	font-weight:500;
	margin: 16px 0px 6px 0px;
}	
.ld-body h1{
	color: #3187B6;
	font-size: 32px;
}
.ld-body h2{
	color: #4D4D4D;
	font-size: 24px;
	margin-top: 20px;
}

.ld-body h3{
	color: #C15200;
}

.ld-body a, .ld-body a:link, .ld-body a:visited {
	font-family: "franklin-gothic-urw-n5","franklin-gothic-urw","Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Helvetica,Arial,sans-serif;	
	/*color: #C15200;*/
  text-decoration: none;
  border-bottom: 1px dotted;
  font-weight: 500;
}


@media screen and (min-width: 421px) {
	.ld-header-menu .ld-header-menu li {
		display:inline-block;
		zoom:1;
		*display:inline;
	}
	
}

@media screen and (max-width: 420px) {
	.ld-header-menu {
		width:99%;
		height:65px;
	}
}

@media screen and (max-width: 420px) {
	.ld-header-menu {
		width:99%;
		height:35px;
	}
}

@media screen and (max-width: 420px) {
	.ld-header-menu li {
		display:block;
	}
}

@media screen and (max-width: 800px){
	.ld-header-submenu{
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}