.drillDownDateDropDown {
	width: 375px;
	padding: 0px;
	border: solid 1px #ddd;
	background-color: #fafafa;
}

.drillDownDateDropDown table{
	margin: 4px;
}
	
.drillDownDateDropDown td{
	width: 61px;
	height: 26px;
	padding: 0px;
}
.drillDownDateDropDown th{
	font-size:12px;
	padding: 2px;
}
input[type="button"].drillDownDateButton, .drillDownDateDropDown input[type="button"]{
	height: 26px;
	width: 61px;
	margin: 0px;
}
.drillDownDateButton {
	font-size:10px;
}

.drillDownDateDropDown div.buttonWrapper{
	padding: 4px;
	text-align:left;
	border-bottom: solid 1px #ddd;
	background-color: #eee;
	height: 28px;
}
.drillDownDateDropDown div.buttonWrapper em {
	font-size:14px;
	color: #999;
	margin-left: 4px;
	vertical-align:middle;
}
.drillDownDateDropDown input, .drillDownDateDropDown label {
	vertical-align: middle;
}